@import '@themes/themeVariables.scss';

.logs-filter__container {
  .logs-filter__search-container.ant-input-group-wrapper {
    width: 50%;
    border: 8px solid $primary-background-color;

    .ant-input {
      height: 40px;
      border: none;
      border-radius: 0px;
      box-shadow: none;
      font-size: 16px;
    }

    .ant-input-clear-icon {
      font-size: 16px;
    }

    .ant-input-search-button {
      height: 40px;
      border: none;
      border-radius: 0px;
      background: $primary-background-color;
      box-shadow: none !important;

      .anticon-search {
        color: $secondary-color;
        font-size: 20px;
      }
    }
  }
}
