@import '@themes/themeVariables.scss';

.cluster-controller__container {
  .cluster-controller-title {
    color: $primary-color;
    font-weight: 500;
  }

  .cluster-controller {
    display: flex;
    align-items: center;

    .cluster-controller__select {
      height: 45px;
      width: 200px;
      font-size: 16px;
      margin-right: 1rem;

      .ant-select-selection {
        height: 100%;
        border: 1px solid $primary-border-color;
        border-radius: calc(45px / 2);
        background: $input-background-color;

        .ant-select-selection__rendered {
          height: 100%;
          .ant-select-selection-selected-value {
            height: 100%;
            width: 100%;
            text-align: center;
            font-size: 16px;
            line-height: 45px;
          }
        }

        .ant-select-arrow {
          color: $primary-color;
          font-size: 16px;
        }
      }
    }

    .spark-btn {
      height: 45px;
      width: 200px;
      font-size: 16px;
      font-weight: 800;
    }
  }
}

.ant-select-dropdown.cluster-controller__select-option {
  border-radius: 20px;

  .ant-select-dropdown-menu {
    .ant-select-dropdown-menu-item {
      &:first-of-type {
        border-radius: 20px 20px 0 0;
      }

      &:last-of-type {
        border-radius: 0 0 20px 20px;
      }

      height: 40px;
      line-height: 30px;
      font-size: 16px;
      padding-right: 24px;
      text-align: center;
    }
  }
}
