@import '@themes/themeVariables.scss';

.sider-menu__container {
  background-image: linear-gradient(to bottom, $secondary-color, $primary-color);

  .sider-menu {
    background: transparent;

    .menu-icon {
      font-size: 20px;
    }

    .ant-menu-item {
      font-family: sans-serif;
      font-size: 18px;
    }

    .ant-menu-item-selected {
      background: rgba(0, 0, 0, 0.3);
    }
  }
}
