$primary-color: #3b55e6;
$secondary-color: #87b1fd;
$primary-background-color: #d3e2fd;
$secondary-background-color: #ffffff;
$form-background-color: #f0f1f7;
$primary-text-color: #2e3962;
$secondary-text-color: #707070;
$form-text-color: #aab1d8;
$primary-font-family: Montserrat;
$primary-header-color: #4889fe;
$input-background-color: #f0f2f7;
$primary-border-color: #e3e8f0;
$secondary-border-color: #e3e5f0;
$disable-text-color: #aab1d8;
