$primary-color: #3b55e6;
$secondary-color: #87b1fd;
$primary-background-color: #d3e2fd;
$secondary-background-color: #ffffff;
$primary-text-color: #2e3962;
$secondary-text-color: #707070;
$primary-font-family: Montserrat;
$primary-header-color: #4889fe;
