@import '@themes/themeVariables.scss';

.logs-table__container {
  .logs-table {
    th.logs-table-column {
      border-radius: 0px !important;
      background: $primary-background-color;
      .ant-table-column-title {
        font-size: 16px;
        font-weight: 800;
        color: $primary-header-color;
      }
    }

    .logs-table-column {
      border: none;
      color: $secondary-text-color;
    }
  }
}
